<div class="toolbar" role="banner">
  <app-header></app-header>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2"
        type="search"
        placeholder="Search Movie"
        aria-label="Search"
        [(ngModel)]="moviesFilter"
        (ngModelChange)="onMoviesFilter($event)"
        name="moviesFilter">
    </form>
 
  </nav>  
  
  <!-- exibe a listagem de filmes passando o parâmetro de entrada [movies] que contém o array de filmes que foram retornados pela API externa -->
  <app-movies [movies]="filteredMovies"></app-movies>
</div>
